html, body {
  overflow: hidden;
}

#content {
  position: absolute;
  overflow: visible;

  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;

  visibility: hidden;
}

.page {
  position: absolute;
  overflow: hidden;
  border: 1px solid black;

  visibility: visible;

  background-color: #fff;
}

.page > .header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 20px;

  background-color: #eee;
}


div.ui-resizable-handle {
  background-image: none;
}
